:root{
  --backgroundColor: #954f59;
  --primeryColor : #ffa322;
  
}


header{
    background-color: var(--backgroundColor);
    border: 2px solid #954f59;
    border-radius: 12px;
    padding: 5px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

nav {
    background-color: #954f59;
    border: 2px solid #954f59;
    padding: 5px;
}

body{
    background-color: #ffa322;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--backgroundColor);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
 .navbar li a:hover {
    background-color: #ffa322;
  }

  .navbar li .active{
    background-color: aliceblue;
  }

 .image {
    display: block;
    position: relative;
    width: 512px;
    height: 288px;
    margin-bottom: 5px;
    border: 5px solid var(--backgroundColor);
  }

  .maincategory {
    display: inline;
    float: left;
    padding-bottom: 20px;
  }

  .maincategory ul{
    display: line;
    float: left;
  }

  .maincategory li {
    display: line;
    float: left;
    width: 600px;
    height: 340px;
    overflow: hidden;
  }